<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<mat-label><h1>Update password</h1></mat-label>
<form action="" [formGroup]="password" >

  <mat-form-field appearance="fill">
    <mat-label>Old password</mat-label>
    <input type="password" matInput required formControlName="oldPassword">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input type="password" matInput required formControlName="newPassword">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password confirmation</mat-label>
    <input type="password" matInput required formControlName="newPasswordConfirmation">
  </mat-form-field>

  <div class="centralizer">
    <button mat-raised-button color="primary" style="margin-right: 1%"
            type="button"
            (click)="changePassword()"
            class="">
      Submit
    </button>
    <button mat-raised-button color="warn" style="margin-left: 1%"
            type="button"
            [mat-dialog-close]="true"
            class="">
      Cancel
    </button>
  </div>
</form>
