<mat-label><h1>Update password</h1></mat-label>
<form action="" [formGroup]="password">

  <mat-form-field appearance="fill">
    <mat-label>Old password</mat-label>
    <input type="password" matInput required formControlName="oldPassword">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input type="password" matInput required formControlName="newPassword">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New password confirmation</mat-label>
    <input type="password" matInput required formControlName="newPasswordConfirmation">
  </mat-form-field>

  <div class="centralize">
    <button mat-button
            type="button"
            (click)="changePassword()"
            class="">
      Submit
    </button>
    <button mat-button
            type="button"
            [mat-dialog-close]="true"
            class="">
      Cancel
    </button>
  </div>
</form>
