<form #element [formGroup]="startAssessment">
  <mat-card class="mat-card" style="padding-top: 20px">
    <mat-card-title>
      Start new Assessment
    </mat-card-title>
      <mat-card-content class="parent">
          <mat-form-field appearance="fill">
            <mat-label>Assessment template</mat-label>
            <mat-select required formControlName="assessmentTemplateId">
              <mat-option
                *ngFor="let assessmentTemplate of assessmentTemplates"
                [value]="assessmentTemplate.id"
              >
                {{assessmentTemplate.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <button
          mat-raised-button
          [disabled]=""
          (click)="startAssess()"
        >Start assessment
        </button>
      </mat-card-content>
  </mat-card>
</form>
