<mat-tab-group mat-align-tabs="center">
  <mat-tab label="All assessments">

    <div class="table">

      <mat-form-field appearance="standard" class="filter-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. annual assessment" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell class="title-column" *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell class="title-column" *matCellDef="let row"> {{row.title}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="jobPosition">
            <th mat-header-cell class="title-position" *matHeaderCellDef mat-sort-header> Position </th>
            <td mat-cell class="title-position" *matCellDef="let row"> {{row.jobTitle}} </td>
          </ng-container>

          <!-- Start date Column-->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell class="start-date-column" *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell class="start-date-column" *matCellDef="let row"> {{row.startDate}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell class="status-column" *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell class="status-column" *matCellDef="let row"> {{row.status | titlecase | replaceUnderscore}} </td>
          </ng-container>

          <ng-container matColumnDef="buttons">
            <th mat-header-cell class="buttons-column" *matHeaderCellDef>&nbsp;&nbsp;&nbsp;View</th>
            <td mat-cell
                class="buttons-column"
                *matCellDef="let row"
                (click)="$event.stopPropagation()"
            >
              <button mat-button (click)="openDialog(dataSource.filteredData.indexOf(row))">
                <mat-icon>open_in_new</mat-icon>
              </button>

              <button *ngIf="(row.status == 'FINISHED')" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>download</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button (click)="exportAssessmentToPdf(row)"  mat-menu-item>Export to pdf</button>
                <button (click)="exportAssessmentToExcel(row)" mat-menu-item>Export to excel</button>
              </mat-menu>


            </td>


          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No assessments found</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

    </div>
  </mat-tab>
</mat-tab-group>

