<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
          <div *ngIf="userList" class="content-block">
               <table class="team-table">
                   <tr>
                       <th class="header-header" colspan="4">
                            <span (click)="refreshTeams()"> Users </span>
                       </th>
                   </tr>
                   <tr class="team-header">
                       <th class="team-cell">
                           User Name
                       </th>
                       <th class="team-cell">
                           Email
                       </th>
                       <th class="team-cell">
                           Team
                       </th>
                       <th class="team-cell">
                           Action
                       </th>
                   </tr>
                   <tr class="team-row" *ngFor="let user of userList">
                       <td class="team-cell">
                           {{user.firstname}}  {{user.lastname}}
                       </td>
                       <td class="team-cell">
                           {{user.email}}
                       </td>
                       <td class="team-cell">
                           {{user.team}}
                       </td>
                       <td>
                           <div *ngIf="user.id">
                            <button class="modify-button" (click)="editUser(user.id)">
                                Modify
                            </button>
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <td class="four-rows" colspan="4">
                           <button class="new-member" (click)="createNewUser()">
                               New User
                           </button>
                       </td>
                   </tr>
               </table>
           </div>
    </div>
</div>
