<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body class="home">
<div class="container-fluid display-table">
  <div class="row display-table-row">
    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 col-sm-11 centralizer display-table-cell v-align">

      <div class="title">
        <h1>Update <span>profile!</span></h1>
      </div>
      <div *ngIf="passwordDto" class="login-form">
        <form #passwordForm="ngForm">
          <div class="form-details">

            <label class="form-element">
              <input
                title="Please insert new password"
                type="password"
                name="oldPassword"
                id="oldPassword"
                minLength="7"
                maxLength="20"
                #oldPassword="ngModel"
                placeholder="Enter old password"
                [(ngModel)]="passwordDto.oldPassword">
              <div *ngIf="oldPassword.touched && !oldPassword.valid" class="input-box-error">
                Old password is required and must be valid !
              </div>
            </label>

            <label class="form-element">
              <input
                title="Please insert new password"
                type="password"
                name="newPassword"
                id="newPassword"
                minLength="7"
                maxLength="20"
                #newPassword="ngModel"
                placeholder="Enter new password"
                [(ngModel)]="passwordDto.newPassword">
              <div *ngIf="newPassword.touched && !newPassword.valid" class="input-box-error">
                New password is required and must be valid !
              </div>
            </label>

            <label class="form-element">
              <input
                title="Please insert new password confirmation"
                type="password"
                name="newPasswordConfirmation"
                id="newPasswordConfirmation"
                minLength="7"
                maxLength="20"
                #newPasswordConfirmation="ngModel"
                placeholder="Enter new password confirmation"
                [(ngModel)]="passwordDto.newPasswordConfirmation">
              <div *ngIf="newPasswordConfirmation.touched && !newPasswordConfirmation.valid" class="input-box-error">
                New password confirmation is required and must be valid !
              </div>
            </label>


          </div>
          <button type="submit" [disabled]="passwordForm.form.invalid" class="form-btn" (click)="changePassword()" ]>Update</button>
        </form>
      </div>

    </div>
  </div>
</div>
<div class="error-message">
        <span *ngIf="errorMessage">
            {{errorMessage}}
        </span>
</div>

</body>
