p {
  font-size: 16px;
}

mat-card .mat-card-content {
  font-size: 15px;
}

.mat-card-title {
  font-size: 24px;
}

.mat-card-subtitle {
  font-size: 18px;
}

.header {
  padding: 15px;
  text-align: center;
  font-family: 'Trocchi', serif;
  font-weight: bolder;
  font-size: 25px;
  border: 1px solid #000;
  margin: auto;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.mat-card-title, .mat-card-subtitle {
  text-align: center;
}

.evaluation-groups-title {
  display: inline-block;
  margin: 2% 0;
  width: 72%;
}

.evaluation-group-user-score {
  display: inline-block;
  width: 12%;
}

.evaluation-group-assigned-user-score {
  display: inline-block;
  width: 12%;
}

.evaluation-groups {
  padding-left: 3%;
}

.evaluation-group, .evaluation-group-comments {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}

.evaluation-group {
  width: 30%;
}

.evaluation-fields {
  margin-left: 4%;
}

.mat-card-actions {
  text-align: center;
}

.mat-button {
  border: 2px solid black;
  font-size: 16px;
}

.mat-raised-button {
  font-size: 16px;
}

.evaluation-field-title {
  display: inline-block;
  vertical-align: middle;
  width: 27.5%;
}

.evaluation-field-comment {
  display: inline-block;
  vertical-align: middle;
  width: 39.5%;
}

.raise:hover,
.raise:focus {
  transition-duration: 0.4s;
  transform: scale(1.4);
  cursor: pointer;
}

mat-card {
  padding-bottom: 4%;
}

.evaluation-field-user-score {
  display: inline-block;
  vertical-align: middle;
  width: 12%;
  margin-left: 1%;
  /*border: 1px solid #000;*/
  font-size: 20px;
  text-align: center;
}

.evaluation-field-assigned-user-score {
  display: inline-block;
  vertical-align: middle;
  width: 12%;
  height: 1%;
  /*border: 1px solid #000;*/
  font-size: 20px;
  text-align: center;
  margin-left: 3.5%;
}

.evaluation-field-assigned-user-score {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  font-size: 20px;
  text-align: center;
}

.evaluation-score-output {
  display: inline-block;
}

.personal-goal {
}

.smart-goals-header {
  margin: 3.5% 0;
}

.abbreviation {
  position: relative;
  display: inline-block;
  padding-left: 1.25%;
  margin-right: 2%;
  z-index: 2;
  cursor: pointer;
  width: 5%;
}

.abbreviation-s {
  padding-left: 1.5%;
}

.goal-capital-letter {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.smart-goal-field {
  width: 95%;
  margin-top: -1.5%;

}

.smart-goal-input-t {
  margin-bottom: 50px;
}

.smart-goal-input {
  display: inline-block;
  vertical-align: middle;
  width: 93%;
  padding: 2%;
  margin-bottom: 1%;
  text-align: center;
  background: #e5e5e5;
}

.smart-goal-text {
  display: inline-block;
  vertical-align: middle;
}

.letter-meaning {
  position: absolute;
  background: rgb(224, 224, 224);
  border-radius: 10px;
  padding: 8px;
  width: 470px;
  height: 40px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: 15px;
  top: -50px;
  right: -450px;
  opacity: 0;
  pointer-events: none;
}

.abbreviation:hover .letter-meaning {
  opacity: 1;
  pointer-events: auto;
}

.minor-text {
  display: inline-block;
  font-weight: normal;
  margin-left: 3%;
  font-size: 14px;
  color: gray;
}


textarea:disabled {
  font-size: 15px;
  color: black;
}

textarea {
  vertical-align: middle;
}

mat-form-field, mat-form-field label {
  font-size: 16px;
}

.feedback-header {
  margin-top: 1.5%;
}

.feedback {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2%;
}

.feedback-author-header {
  display: inline-block;
  margin-left: 2%;
  width: 33%;
  text-align: center;
  margin-bottom: 1.5%;
}

.feedback-text-header {
  display: inline-block;
  width: 65%;
  text-align: center;
  margin-bottom: 1.5%;
}

.feedback-array {
  display: inline-block;
  vertical-align: middle;
}

.feedback-author {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  width: 33%;
  text-align: center;
}

.feedback-text {
  display: inline-block;
  padding: 2%;
  vertical-align: middle;
  width: 65%;
  background: #e5e5e5;
}

.group-score {
  font-size: 25px;
  padding: 2% 0;
  margin-left: 71%;
}

.group-score-title {
  display: inline-block;
  padding-right: 8%;
}

.assessment-score {
  font-size: 30px;
  padding-bottom: 2%;
  margin-left: 65%;
}

.assessment-score-title {
  display: inline-block;
  font-size: 24px;
  padding-right: 6%;
}
