<div *ngIf="hasAccount; else noAccount">
    <div class="login-container">
        <div class="welcome-message">
            Welcome back !
        </div>
        <div class="login-form">
            <form>
                <mat-form-field class="login-input" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    matInput
                    [formControl]="loginEmailFormControl"
                    placeholder="Ex. user@me.com"
                    [(ngModel)]="loginUser.email">
                  <mat-error *ngIf="loginEmailFormControl.hasError('email') && !loginEmailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error
                    *ngIf="loginEmailFormControl.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="login-input" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input
                        matInput type="password"
                        [formControl]="loginPasswordFormControl"
                        placeholder="Ex. password"
                        [(ngModel)]="loginUser.password">
                    <mat-error *ngIf="loginPasswordFormControl.hasError('required')">
                        Please enter your password
                      </mat-error>
                  </mat-form-field>
                  <button class="login-submit" (click)="login()" mat-raised-button>Login</button>
              </form>
              <div class="switch-page">
                <hr class="fifty-percent">
                <span class="reroute-link" (click)="requestRegisterPage()">
                    Create new account
                </span>
            </div>
        </div>
    </div>
</div>

<ng-template #noAccount>
    <div class="register-container">
    <div class="welcome-message">
        Create new account !
    </div>
    <div class="register-form">
        <form>
            <mat-form-field class="register-input" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                placeholder="Ex. user@me.com"
                [(ngModel)]="registerUser.email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error
                *ngIf="emailFormControl.hasError('required')">
                Email is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Firstname</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="firstnameFormControl"
                  placeholder="Ex. John"
                  [(ngModel)]="registerUser.firstname">
                <mat-error
                  *ngIf="firstnameFormControl.hasError('required')">
                  Firstname is required
                </mat-error>
                <mat-error
                *ngIf="firstnameFormControl.errors?.pattern">
                Please insert a correct firstname
              </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Lastname</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="lastnameFormControl"
                  placeholder="Ex. Doe"
                  [(ngModel)]="registerUser.lastname">
                <mat-error
                  *ngIf="lastnameFormControl.hasError('required')">
                  Lastname is required
                </mat-error>
                <mat-error
                *ngIf="lastnameFormControl.errors?.pattern">
                Please insert a correct lastname
              </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Birthdate</mat-label>
                <input
                  type="date"
                  matInput
                  [formControl]="birthdateFormControl"
                  placeholder="Ex. 01-01-1970"
                  [(ngModel)]="registerUser.birthDate">
                <mat-error
                  *ngIf="birthdateFormControl.hasError('required')">
                  Birthdate is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="phoneFormControl"
                  placeholder="Ex. 022123456"
                  [(ngModel)]="registerUser.phoneNumber">
                <mat-error
                  *ngIf="phoneFormControl.hasError('required')">
                  Phone number is required
                </mat-error>
                <mat-error
                *ngIf="phoneFormControl.errors?.pattern">
                Phone number must be 9-15 digits long
              </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Job</mat-label>
                <mat-select [formControl]="jobFormControl" [(ngModel)]="registerUser.job">
                  <mat-select-trigger>
                    {{jobFormControl.value ? jobFormControl.value : ''}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let job of jobList" [value]="job.jobTitle">{{job.jobTitle}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Employment date</mat-label>
                <input
                  type="date"
                  matInput
                  [formControl]="employmentdateFormControl"
                  placeholder="Ex. 01-01-2020"
                  [(ngModel)]="registerUser.employmentDate">
                <mat-error
                  *ngIf="employmentdateFormControl.hasError('required')">
                  Employment date is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="register-input" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input
                    matInput type="password"
                    matInput
                    [formControl]="passwordFormControl"
                    placeholder="Ex. password"
                    [(ngModel)]="registerUser.password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Please enter your password
                </mat-error>
                <mat-error *ngIf="passwordFormControl.errors?.pattern">
                  Your password must be between 12 and 30 characters long, must contain at least one uppercase letter, one lowercase letter, one number and one special character
              </mat-error>
              </mat-form-field>

              <mat-form-field class="register-input" appearance="fill">
                <mat-label>Confirm your password</mat-label>
                <input
                    matInput type="password"
                    matInput
                    [formControl]="confirmPasswordFormControl"
                    placeholder="Ex. password"
                    [(ngModel)]="confirmPassword">
                <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                    Please enter your password
                </mat-error>
                <mat-error *ngIf="confirmPasswordFormControl.errors?.pattern">
                  Your password must be between 12 and 30 characters long, must contain at least one uppercase letter, one lowercase letter, one number and one special character
              </mat-error>
              </mat-form-field>

            <button class="register-submit" (click)="register()" mat-raised-button>Register</button>
        </form>
          <div class="switch-page">
            <hr class="fifty-percent">
            <span class="reroute-link" (click)="requestLoginPage()">
                Sign In
            </span>
        </div>
    </div>
</div>
</ng-template>
