<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
           <div class="header-header">
               My Profile
           </div>
           <div class="content-block">
               <div *ngIf="myProfile" class="login-form">
                   <form #myProfile="ngForm">
                       <div class="form-details">
                           <!-- <label class="form-element">
                               <span class="form-label">
                                   Email
                               </span>
                               <input
                                    required
                                    [email]="true"
                                    type="email"
                                    name="email"
                                    #email="ngModel"
                                    id="email"
                                    placeholder="Enter your email" 
                                    [(ngModel)]="myProfile.email">
                                <div *ngIf="email.touched && !email.valid" class="input-box-error">
                                    Please enter a valid email !
                                </div>
                           </label> -->
                           <label class="form-element">
                            <span class="form-label">
                                Firstname
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                Lastname
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                Birthdate
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                Employment date
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                Phone number
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                Job
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>
                        <label class="form-element">
                            <span class="form-label">
                                About me
                            </span>
                            <input>
                            <div>
                                yes
                            </div>
                        </label>

                       </div>
                   </form>
              </div>
           </div>
    </div>
</div>