<div class="col-md-10 col-sm-11 display-table-cell v-align centralizer" style="padding-top: 75px">
  <mat-card class="example-card" style="background-color: white; margin: auto; min-width: 75vw" >
    <mat-card-header>
      <img mat-card-avatar style="font-size: 40px" src="data:image/png;base64,{{myProfile?.image}}"/>
      <mat-card-title>{{myProfile?.firstname + ' ' + myProfile?.lastname}}</mat-card-title>
      <mat-card-subtitle>
        {{myProfile?.bio}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-list role="list">


        <mat-list-item style="font-size: 16px; margin-top: 15px; margin-bottom: 15px;">
          <div class="twenty-percent"> Email:</div>
          <p style="font-size: x-large;">{{ myProfile?.email}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style="font-size: 16px;margin-top: 15px; margin-bottom: 15px;">
          <div class="twenty-percent">Phone Number:</div>
          <p style="font-size: x-large;">{{ myProfile?.phoneNumber}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style="font-size: 16px;margin-top: 15px; margin-bottom: 15px;">
          <div class="twenty-percent">Job:</div>
          <p style="font-size: x-large;">{{ myProfile?.job}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style="font-size: 16px;margin-top: 15px; margin-bottom: 15px;">
          <div class="twenty-percent">Birth Date:</div>
          <p style="font-size: x-large;">{{ myProfile?.birthDate}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style="font-size: 16px;margin-top: 15px; margin-bottom: 15px;">
          <div class="twenty-percent">Employment Date</div>
          <p style="font-size: x-large;">{{ myProfile?.employmentDate}}</p>
        </mat-list-item>
        </mat-list>

    </mat-card-content>

    <mat-card-actions>
      <div style="align-items: center; justify-content: center; display: flex; margin-top: 20px; margin-bottom: 20px;">
        <button (click)="edit()" style="margin-right: 8px" mat-raised-button><mat-icon>edit</mat-icon> Edit profile </button>
        <button (click)="changePassword()" style="margin-left: 8px" mat-raised-button><mat-icon>key</mat-icon> Change password </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>


