p {
  font-size: 15px;
}

mat-card, .mat-card-content {
  font-size: 15px;
}

.mat-card-title {
  font-size: 24px;
}

.mat-card-subtitle {
  font-size: 18px;
}

.header {
  padding: 15px;
  text-align: center;
  font-family: 'Trocchi', serif;
  font-weight: bolder;
  font-size: 25px;
  border: 1px solid #000;
  margin: auto;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.mat-card-title, .mat-card-subtitle {
  text-align: center;
}

.evaluation-groups-title {
  margin: 2% 0;
}

.evaluation-groups {
  padding-left: 3%;
}

.evaluation-group, .evaluation-group-comments {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}

.evaluation-group {
  width: 30%;
}

.evaluation-fields {
  margin-left: 4%;
}

.mat-card-actions {
  text-align: center;
}

.mat-button {
  font-size: 16px;
}

.mat-raised-button {
  font-size: 16px;
}

.evaluation-field-title {
  display: inline-block;
  width: 27.5%;
}

.evaluation-field-comment {
  display: inline-block;
}

.creation-date-header {
  margin-top: 10px;
}

.close-button {
  float: right;
  background: #e5e5e5;
}

.close-icon {
  border-radius: 50%;
}

.close-icon:hover {
  transform: rotate(90deg);
  transition-duration: 0.2s;
}

.raise:hover{
  transition-duration: 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

.mat-button {
  border: 2px solid black;
  font-size: 16px;
}
