<div *ngIf="jwtUser" class="navi">
    <ul>
        <li class="active">
            <a>
                <span style="text-align: center;" class="hidden-xs hidden-sm">
                    <p>
                        <img style="height: 30px;" src="../../../../assets/user-icon.png">
                        <span routerLink="/dashboard"> {{jwtUser.firstname}} </span>
                    </p>
                    <p routerLink="/logout" style="font-size: 10px;">
                        &#x3c; Logout &#x3e;
                    </p>
                </span>

            </a>
        </li>
    </ul>
</div>
<div class="navi">
    <ul *ngIf="isUser">
        <li class="active">
            <a routerLink="/my-profile">
                <span class="hidden-xs hidden-sm">
                    My Profile
                </span>
            </a>
        </li>
        <li class="active">
              <a routerLink="/usersview">
                  <span class="hidden-xs hidden-sm">
                     <i class="fa fa-calendar" aria-hidden="true" ></i>
                    Users
                  </span>
              </a>
        </li>
        <li class="active">
          <a routerLink="/assessments">
            <span class="hidden-xs hidden-sm">
               <i class="fa fa-list-alt" aria-hidden="true"></i>
              Assessments
            </span>
          </a>
        </li>
      <li class="active">
        <a routerLink="/assessments-history">
          <span class="hidden-xs hidden-sm">
             <i class="fa fa-history" aria-hidden="true"></i>
            History of assessments
          </span>
        </a>
      </li>
    </ul>
    <ul *ngIf="isAdmin">
        <li class="active">
            <a routerLink="/users">
                <i class="fa fa-user-friends" aria-hidden="true">

                </i>
                <span class="hidden-xs hidden-sm">
                    Users
                </span>
            </a>
        </li>
        <li class="active">
            <a routerLink="/edit">
                <i class="fa fa-user-friends" aria-hidden="true">

                </i>
                <span class="hidden-xs hidden-sm">
                    Edit profile
                </span>
            </a>
        </li>
        <li class="active">
            <a routerLink="/teams">
                <i class="fa fa-user-friends" aria-hidden="true">

                </i>
                <span class="hidden-xs hidden-sm">
                    Teams
                </span>
            </a>
        </li>
    </ul>
</div>
`

