<div class="container">
    <div class="sidebar">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="content">

        <div class="center">
            
            <span class="header"> Edit Team ! </span>

            <!-- <form>
                <mat-form-field class="new-team-input" appearance="fill">
                    <mat-label>Team Name</mat-label>
                    <input 
                      type="text" 
                      matInput 
                      [formControl]="teamNameFormControl" 
                      placeholder="Ex. C++ Developers"
                      [(ngModel)]="newTeamName">
                    <mat-error 
                      *ngIf="teamNameFormControl.hasError('required')">
                      New team name is required
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="new-team-input" appearance="fill">
                    <mat-label>Team Leader</mat-label>
                    <mat-select [formControl]="teamLeaderFormControl" [(ngModel)]="newTeamLeaderId">
                      <mat-select-trigger>
                        {{teamLeaderFormControl.value ? teamLeaderFormControl.value : ''}}
                      </mat-select-trigger>
                      <mat-option *ngFor="let user of users" [value]="user.id">{{user.firstname}} {{user.lastname}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="new-team-submit" (click)="createTeam()" mat-raised-button>Create Team</button>
            </form>
            <div class="error-message">
                <span *ngIf="errorMessage">
                    {{errorMessage}}
                </span>
            </div> -->
        </div>
    </div>
</div>