.img-logo {
  display: block;
  margin: auto;
  max-width: 194px;
  max-height: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/* .container-sidenav {
  width: 20%;
  height: 100vh;
  position: absolute;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-sidenav::-webkit-scrollbar { 
  display: none;
} */