.dashboard-sidebar {
    float: left;
    width: calc(20% - 12px);
    height: 95vh;
    margin: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px #555555;
}

.dashboard-sidebar::-webkit-scrollbar {
    display: none;
}

.dashboard-content {
    float: left;
    width: calc(80% - 12px);
    height: 95vh;
    margin: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px #555555;
}