.container {
    max-width: 700px;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0;
    bottom: 0;
    background: linear-gradient(135deg, #000000, #EEEEEE)
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
}

.one-column {
    width: 100%;
}

.two-columns {
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input
 {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #000000;
}

.input-box-error {
    font-size: 9px;
    color: #FF0000;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #555555;
}

form button:hover {
    background-color: #333333;
}

form button:disabled,
form button:disabled:hover {
    background-color: #CCCCCC;
    color: #000000;
}

.form-response-message {
    text-align: center;
    font-size: 20px;
}

.form-response-image {
    height: 20px;
}

@media (max-width: 584px) {
    
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
    }

    .two-columns {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}