<div>    
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>
                Delete this user ?
            </mat-card-title>
        </mat-card-title-group>
        <hr class="fifty-percent">
        <mat-card-content>
            <button class="full-size-red" mat-raised-button (click)="delete()">Yes</button>
        </mat-card-content>
        <mat-card-content>
            <button class="full-size-cancel" mat-raised-button (click)="cancel()">No</button>
        </mat-card-content>
    </mat-card>
</div>