<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<mat-label><h2>Create new user</h2></mat-label>

<form action="" [formGroup]="newUser" style="margin-top: 3%">

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput required formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput required formControlName="firstname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput required formControlName="lastname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth date</mat-label>
    <input type="date" matInput required formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Employment date</mat-label>
    <input type="date" matInput required formControlName="employmentDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput required formControlName="phoneNumber">
  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Job position</mat-label>
    <mat-select  required value="user.job" formControlName="job">
      <mat-option *ngFor="let jobItem of jobList" [value]="jobItem.jobTitle">
        {{ jobItem.jobTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="centralize" style="margin-top: 1%">
    <button mat-raised-button color="primary" style="margin-right: 1%"
            type="button"
            (click)="createUser()"
            class="">
      Submit
    </button>
    <button mat-button mat-raised-button color="warn" style="margin-left: 1%"
            type="button"
            [mat-dialog-close]="true"
            class="">
      Cancel
    </button>
  </div>
</form>
