<div class="container" >
  <div class="main-body">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">

              <img
                src="data:image/png;base64,{{user?.image}}"
                alt="Admin"
                class="rounded-circle"
                width="110"
              />
              <div class="mt-3">
                <h4 class = user-name>
                  {{ user?.firstname + " " + user?.lastname }}
                </h4>
                <hr
                  width="100%"
                  style="
                    margin-left: auto;
                    background-color: black;
                    height: 1px;
                  "
                />
                <p class="user-bio">{{ user?.bio }}</p>
              </div>
            </div>
            <hr
              width="100%"
              style="margin-left: auto; background-color: black; height: 1px"
            />
            <div>
                <p class="user-left">Job Position:</p>
                <p  class="user-right">{{ user.job }}</p>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
            <div>
                <p class="user-left">Email Address:</p>
                <p  class="user-right">{{ user.email }}</p>
              <hr width="100%" style=" float: bottom" />
            </div>
            <div>
                <p class="user-left">Phone Number</p>
                <p  class="user-right">{{ user.phoneNumber }}</p>
              <hr width="100%" style="margin-left: 10px; float: bottom" />
            </div>
            <div>
                <p class="user-left">Birth Date:</p>
                <p  class="user-right">{{ user.birthDate }}</p>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
            <div>
                <p class="user-left">Employment Date:</p>
                <p  class="user-right">{{ user.employmentDate }}</p>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-7 assessments">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5
                    class="d-flex align-items-center mb-3"
                    style="
                    text-align: center;
                    font-size: 22px;
                    padding-top: 20px;
                    font-weight: bold;
                  "
                  >
                    Assessment History
                  </h5>
                  <hr
                    width="100%"
                    style="margin-left: auto; background-color: gray; height: 1px"
                  />
                </div>
                <mat-dialog-content class="mat-typography">

                <div
                  *ngFor="let assessment of assessments"
                  class="row mb-3 align-center"
                  style="width: 95%; padding-left: 50px"
                >
                  <div class="card-body card table">
                    <p class="assessment-title">
                      {{ assessment.title }}
                    </p>
                    <p class="assessment-description align-center">{{ assessment.description }}</p>
                    <hr
                      width="100%"
                      style="
                      margin: auto;
                      background-color: lightgray;
                      height: 1px;
                    "
                    />
                    <br />
                    <div style="display: flex; justify-content: space-between">
                      <p class = "assessment-left">
                        Status:
                      </p>
                      <p class="assessment-right">
                        {{ assessment.status }}
                      </p>
                    </div>

                    <div style="display: flex; justify-content: space-between">
                      <p class = "assessment-left">
                      Start date:
                      </p>
                      <p class="assessment-right">
                        {{ assessment.startDate }}
                      </p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                      <p class = "assessment-left">
                      End date:
                      </p>
                      <p class="assessment-right">
                        {{ assessment.endDate || "Unfinished" }}
                      </p>
                    </div>

                    <div style="display: flex; justify-content: space-between">
                      <p class = "assessment-left">
                      Overall score:
                      </p>
                      <p class="assessment-right">
                        {{ assessment.overallScore || "Not available" }}
                      </p>
                    </div>
                  </div>
                </div>
                </mat-dialog-content>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
