<div class="container" >
  <div class="main-body">
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">

              <img
                src="data:image/png;base64,{{user?.image}}"
                alt="Admin"
                class="rounded-circle"
                width="110"
              />
              <div class="mt-3">
                <h4 style="padding-top: 10px">
                  {{ user?.firstname + " " + user?.lastname }}
                </h4>
                <hr
                  width="100%"
                  style="
                    margin-left: auto;
                    background-color: black;
                    height: 1px;
                  "
                />
                <p class="text-secondary mb-1">{{ user?.bio }}</p>
              </div>
            </div>
            <hr
              width="100%"
              style="margin-left: auto; background-color: black; height: 1px"
            />
            <div>
              <div class="table">
                <p class="column-left">Job Position:</p>
                <p style="float: right">{{ user.job }}</p>
              </div>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
            <div>
              <div class="table">
                <p class="column-left">Email Address:</p>
                <p style="float: right">{{ user.email }}</p>
              </div>
              <hr width="100%" style="margin-left: 10px; float: bottom" />
            </div>
            <div>
              <div class="table">
                <p class="column-left">Phone Number</p>
                <p style="float: right">{{ user.phoneNumber }}</p>
              </div>
              <hr width="100%" style="margin-left: 10px; float: bottom" />
            </div>
            <div>
              <div class="table">
                <p class="column-left">Birth Date:</p>
                <p style="float: right">{{ user.birthDate }}</p>
              </div>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
            <div>
              <div class="table">
                <p class="column-left">Employment Date:</p>
                <p style="float: right">{{ user.employmentDate }}</p>
              </div>
              <hr width="100%" style="margin-left: auto; float: bottom" />
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-7">
          <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5
                  class="d-flex align-items-center mb-3"
                  style="
                    text-align: center;
                    font-size: 22px;
                    padding-top: 20px;
                    font-weight: bold;
                  "
                >
                  Assessment History
                </h5>
                <hr
                  width="100%"
                  style="margin-left: auto; background-color: gray; height: 1px"
                />
              </div>
              <mat-dialog-content class="mat-typography">

              <div
                *ngFor="let assessment of assessments"
                class="row mb-3 align-center"
                style="width: 95%; padding-left: 50px"
              >
                <div class="card-body card table">
                  <p style="font-size: 19px; font-weight: bold" align="center">
                    {{ assessment.title }}
                  </p>
                  <p align="center">{{ assessment.description }}</p>
                  <hr
                    width="100%"
                    style="
                      margin: auto;
                      background-color: lightgray;
                      height: 1px;
                    "
                  />
                  <br />
                  <div style="display: flex; justify-content: space-between">
                    <p
                      style="
                        flex-basis: 40.5%;
                        padding-left: 50px;
                        font-size: 16px;
                        font-weight: bold;
                      "
                    >
                      Status:
                    </p>
                    <p style="flex-basis: 49.5%">
                      {{ assessment.status }}
                    </p>
                  </div>

                  <div style="display: flex; justify-content: space-between">
                    <p
                      style="
                        flex-basis: 49.5%;
                        padding-left: 50px;
                        font-size: 16px;
                        font-weight: bold;
                      "
                    >
                      Date:
                    </p>
                    <p style="flex-basis: 49.5%">
                      {{ assessment.startDate }} -
                      {{ assessment.endDate || "Unfinished" }}
                    </p>
                  </div>

                  <div style="display: flex; justify-content: space-between">
                    <p
                      style="
                        flex-basis: 49.5%;
                        padding-left: 50px;
                        font-size: 16px;
                        font-weight: bold;
                      "
                    >
                      Overall score:
                    </p>
                    <p style="flex-basis: 49.5%">
                      {{ assessment.overallScore || "Not available" }}
                    </p>
                  </div>
                </div>
              </div>
              </mat-dialog-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
