<div class="menu-container">
    <mat-accordion *ngIf="jwtUser" class="menu-block">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{jwtUser.firstname}} {{jwtUser.lastname}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="menu-item">
              My Profile
          </div>
          <div class="menu-item">
              Change Password
          </div>
          <div routerLink="/logout" class="menu-item">
              Logout
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="jwtUser.role == 'ROLE_ADMIN'" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/admin">
                  Admin
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
    </mat-accordion>
</div>