<mat-label>Old image</mat-label>
<img src="data:image/png;base64,{{user?.image}}" height="200">

<form action="" [formGroup]="auxUser">


  <mat-form-field>
    <input type="file" name="fileUpload" accept="image/*" (change)="selectFile($event)" />
    <input matInput readonly />
    <mat-icon matSuffix>file</mat-icon>
  </mat-form-field>

  <label>
    <img [src]="url" height="200">
  </label>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput required  readonly [value]="user?.email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput required [value]="user?.firstname" formControlName="firstname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput required [value]="user?.lastname" formControlName="lastname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth date</mat-label>
    <input type="date" matInput required [value]="user?.birthDate" formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Employment date</mat-label>
    <input type="date" matInput required [value]="user?.employmentDate" formControlName="employmentDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput required [value]="user?.phoneNumber" formControlName="phoneNumber">
  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Job position</mat-label>
    <mat-select  required value="user.job" formControlName="job">
      <mat-option *ngFor="let jobItem of jobList" [value]="jobItem.jobTitle">
        {{ jobItem.jobTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bio</mat-label>
    <input matInput required [value]="user?.bio" formControlName="bio">
  </mat-form-field>

  <div *ngIf="">
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select value="user.role" required formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-button
          type="button"
          [mat-dialog-close]="true"
          (click)="update()"
          class="submit-button raise">
    Submit
  </button>
</form>
