.center {
    text-align: center;
    margin-top: 10%;
}

.header {
    font-size: 35px;
    font-weight: 700;
}

.edit-team-input {
    width: 80%;
}

.edit-team-submit {
    margin: 20px;
    width: 70%;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 25px;
}

.error-message {
    color: #FF0000;
    text-align: center;
}