.edit-container {
    height: 70vh;
    width: 60vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.edit-container::-webkit-scrollbar { 
    display: none;
}

.edit-element {
    padding: 10px;
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
}

.edit-element-header {
    padding: 10px;
}

.edit-element-container {
    padding: 5px;
    text-align: center;
}

.edit-text {
    height: 30px;
    font-size: 18px;
}

.full-size {
    width: 100%;
}

.half-size {
    width: 75%;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #000000;
}

.small-remove {
    color: #CCCCCC;
    font-size: 15px;
}

.close-icon {
    float: right;
}