<mat-card class="edit-container" *ngIf="getTeam">
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>    
  <mat-card-title-group>
    <mat-card-title>
      Edit Team !
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>

    <form>

      <div class="edit-element-header">
        <div class="edit-text">
          Current Team Name : {{ getTeam.name }}
        </div>
      </div>
      
      <mat-form-field class="full-size" appearance="fill">
        <mat-label>New Team Name</mat-label>
        <input matInput [formControl]="teamNameFormControl" [(ngModel)]="NewTeamName" placeholder="Ex. R Team">
        <mat-error *ngIf="!teamNameFormControl.hasError('required')">
          Please insert the new team name !
        </mat-error>
      </mat-form-field>

      <div class="edit-element-header">
        <div class="edit-text">
          Current Team Leader : {{ getTeam.teamLeader.firstname }} {{ getTeam.teamLeader.lastname }}
        </div>
      </div>

      <mat-form-field class="full-size" appearance="fill">
        <mat-label>New Team Leader</mat-label>
        <mat-select name="leader" [formControl]="teamLeaderFormControl" [(ngModel)]="NewTeamLeaderID">
          <mat-option *ngFor="let user of users" [value]="user.id"> {{user.firstname}} {{user.lastname}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="edit-element-header">
        <div class="edit-text">
          Team Members :
        </div>
      </div>

      <mat-form-field class="full-size" appearance="fill">
        <mat-label>Team Members</mat-label>
        <mat-select name="list" [formControl]="teamMembersFormControl" [(ngModel)]="selectedMembers" multiple>
          <mat-option *ngFor="let user of users" [value]="user.id"> {{user.firstname}} {{user.lastname}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="text-align: center;">
        <button class="half-size" mat-raised-button (click)="updateTeam()">Update Team</button>
      </div>

    </form>

  </mat-card-content>
</mat-card>