.mat-tab-group {
  background: rgba(255, 255, 255, 0.58) none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: inline-block;
  width: 95%;
  min-height: 98vh;
  border-radius: 10px;
  margin: 0.5% 0.5%;
  padding: 0 4%;
}

.mat-cell, .mat-header-cell, .mat-paginator {
  font-size: 15px;
}

.add_user {
  transform : scale(1.2);
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.mat-tab-label{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 97%;
}

table {
  width: 100%;
}

.table-column {
  width: 22%;
}

.table-buttons {
  width: 12%;
}

mat-paginator {
  padding-bottom: 15px;
}

