<mat-label>Old image</mat-label>
<img src="data:image/png;base64,{{auxUser?.image}}" height="200">

<form action="" [formGroup]="user">


  <mat-form-field>
    <input type="file" name="fileUpload" accept="image/*" (change)="selectFile($event)" />
    <input matInput readonly />
    <mat-icon matSuffix>file</mat-icon>
  </mat-form-field>

  <label>
    <img [src]="url" height="200">
  </label>



  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput required  readonly [value]="auxUser?.email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput required [value]="auxUser?.firstname" formControlName="firstname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput required [value]="auxUser?.lastname" formControlName="lastname">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth date</mat-label>
    <input type="date" matInput required [value]="auxUser?.birthDate" formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Employment date</mat-label>
    <input type="date" matInput required [value]="auxUser?.employmentDate" formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput required [value]="auxUser?.phoneNumber" formControlName="phoneNumber">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Job position</mat-label>
    <mat-select  required value="auxUser.job" formControlName="job">
      <mat-option *ngFor="let jobItem of jobList" [value]="jobItem.jobTitle">
        {{ jobItem.jobTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
     <mat-label>Bio</mat-label>
     <input matInput required [value]="auxUser?.bio" formControlName="bio">
  </mat-form-field>

  <button mat-button
          type="button"
          (click)="update()"
          class="submit-button raise">
    Submit
  </button>
</form>
