:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

form {
  width: 85%;
  margin-left: 15%;
}

.evaluation-groups {
}

.evaluation-field, .add-field-button {
  margin-left: 5%;
}

.evaluation-field {
  width: 75%;
}

.add-field-button {
  margin: 2% 0 2.5% 81%;
}

.submit-button {
  transition-duration: 0.4s;
  font-size: 20px;
  margin: 50px 0px 30px 35%;
}

.add-group-button {
  margin-top: 35px;
}

.remove-button {
  margin-left: 1%;
}

mat-form-field {
  font-size: 15px;
  width: 80%;
  margin-top: 10px;
}

.fields {
  margin: 0;
}

.raise:hover {
  /*transform: translateY(-0.1em);*/
  transform: scale(1.4);
  cursor: pointer;
}

.material-icons {
  transition-duration: 0.2s;
}

.close-button {
  float: right;
  background: #e5e5e5;
}

.close-icon {
  border-radius: 50%;
}

.close-icon:hover {
  transform: rotate(90deg);
  transition-duration: 0.4s;
}
