<div class="frame">
    <div class="container">
        <div class="title">
            Log In
        </div>
        <form *ngIf="user" #loginForm="ngForm">
            <div class="user-details">
                <div class="input-box one-column">
                    <span class="details">
                        Email
                    </span>
                    <input 
                        required
                        [email]="true"
                        type="email"
                        name="email"
                        #email="ngModel"
                        id="email"
                        placeholder="Enter your email" 
                        [(ngModel)]="user.email">
                    <div *ngIf="email.touched && !email.valid" class="input-box-error">
                        Please enter a valid email !
                    </div>
                </div>
                <div class="input-box one-column">
                    <span class="details">
                        Password
                    </span>
                    <input 
                        required
                        minlength="3"
                        maxlength="20"   
                        type="password" 
                        name="password" 
                        #password="ngModel"
                        id="password"
                        placeholder="Enter your password" 
                        [(ngModel)]="user.password">
                    <div *ngIf="password.touched && !password.valid" class="input-box-error">
                        Please enter your password !
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" [disabled]="loginForm.form.invalid" (click)="login()"> Submit </button>
            </div>
            <div class="form-response-message">
                <div *ngIf="response">
                    <img class="form-response-image" src="{{imgPath}}success-icon.png">
                    <span> Login succesful !</span>
                </div>
                <div *ngIf="errorMsg">
                    <img class="form-response-image" src="{{imgPath}}error-icon.png">
                    <span> Something went wrong .. </span>
                </div>
            </div>
        </form>
        <div class="reroute">
            <a class="reroute-link" routerLink="/register"> Create new account </a>
        </div>
    </div>
</div>

