<div class="align-center">
  <mat-card class="example-card" *ngFor="let assessment of assessmentsInformation" style="padding: 2%">
    <mat-card-title-group>
      <mat-card-title class="title-text">
        <b>
          {{assessment.assessmentTitle}}
        </b>
      </mat-card-title>
      <mat-card-subtitle>{{assessment.performedTime}}
      </mat-card-subtitle>
    </mat-card-title-group>
      <mat-card-content class="text-size">
        The assessment for the user <b>{{assessment.performedOnUser}}</b> with the title
        <b>{{assessment.assessmentTitle}}</b> has been

        <span [ngSwitch]="assessment.status">
          <span *ngSwitchCase="'FIRST_PHASE'"> initialized </span>
          <span *ngSwitchCase="'SECOND_PHASE'"> evaluated </span>
          <span *ngSwitchCase="'FINISHED'"> evaluated </span>
          <span *ngSwitchCase="'CANCELED'"> canceled </span>
          <span *ngSwitchCase="'DELETED'"> deleted </span>
        </span>

        by the user <b>{{assessment.performedByUser}}</b> and is set to
        <span [ngSwitch]="assessment.status" >
            <span *ngSwitchCase="'FIRST_PHASE'" class="label label-info" > FIRST PHASE </span>
            <span *ngSwitchCase="'SECOND_PHASE'" class="label label-primary"> SECOND PHASE </span>
            <span *ngSwitchCase="'FINISHED'" class="label label-success"> FINISHED </span>
            <span *ngSwitchCase="'CANCELED'" class="label label-warning"> CANCELED </span>
            <span *ngSwitchCase="'DELETED'" class="label label-danger"> DELETED </span>
          </span>
        <span *ngIf="assessment.status === 'CANCELED'">
          Cancellation reason: {{assessment.reason}}
        </span>

        <div class="leave-feedback" *ngIf="(assessment.status == 'SECOND_PHASE' || assessment.status == 'FIRST_PHASE')
                                           && (assessment.currentStatus == 'SECOND_PHASE'
                                               || assessment.currentStatus == 'FIRST_PHASE')
                                           && assessment.evaluatedUserId != userId
                                           && assessment.feedbackAuthorsIds.indexOf(userId) == -1">
          <button mat-button class="raise" (click)="openDialog(assessmentsInformation.indexOf(assessment))">
            Leave feedback
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  <br>
</div>
